<div class="row">
  <div class="span6 offset3">

    <%= form_for(@expense, remote: true, controller: "Expenses", action: "create", html: { method: "post", class: 'form-horizontal remote-form', role: 'form' }) do |f| %>

      <%= render :partial => "expenses/common_form", :locals=>{:f => f } %>

      <%= f.hidden_field :reminder_id %>

      <%= f.hidden_field :category %>

      <div class="modal-footer">
        <%= f.submit "Add", class: "btn btn-primary"%>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    <% end %>

  </div>
</div>

<script>
  $("document").ready(function(){
    $("form").submit(function(event) {
      $('.text-danger').text("");
    });
  });
</script>