<tr>
        <td><%= Reminder::CATEGORY[alert.category] %></td>
        <td><%= alert.description %></td>
        <td><%= alert.alert_threshold %></td>
        <td><%= Reminder::FREQ[alert.frequency] %></td>
        <td><%= human_date(alert.last_pay_date) %></td>
        <td><%= human_date(alert.next_pay_date) %></td>
        <td><%= (alert.next_pay_date - Date.today).to_i %></td>
        <td>
          <%= link_to 'Paid', paid_reminder_path(alert), class: "btn btn-default", "data-toggle" => "modal", :data => {:target => "#paid_reminder_modal"} %>
        </td>
      </tr>

<div id="paid_reminder_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add to expenses</h4>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>