<table class="table table-hover">
  <tr>
    <th>Category</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Date</th>
    <th></th>
    <th></th>
  </tr>

<% @expenses.each do |expense| %>
  <tr>
    <td><%= Expense::CATEGORY_BY_VALUE[expense.category] %></td>
    <td><%= expense.description %></td>
    <td>Rs <%= sprintf( "%0.02f", expense.amount) %></td>
    <td><%= expense.date.strftime("%B #{expense.date.day.ordinalize}, %Y at %I:%M %p") %></td>
    <td>
      <%= link_to 'Edit', edit_expense_path(expense), class: "btn btn-default", "data-toggle" => "modal", :data => {:target => "#myModal3"} %>
    </td>
    <td>
      <%= link_to 'Delete', expense, method: :delete, class: "btn btn-default", data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>


<div id="myModal3" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit Expense</h4>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>

<script>
  $("document").ready(function(){

    $('#myModal3').on('show.bs.modal', function (e) {
      $('.error_msg').text("");
    });

  });
</script>
