<div class="row">
  <div class="span6 offset3">
    <%= form_for(@item, remote: true, controller: "Expenses", action: "update", html: { method: "put", class: 'form-horizontal remote-form', role: 'form' }) do |f| %>
    
      <span id="expense_amount_error" class="text-danger"></span><br />
      <%= f.label :amount %>
      <%= f.number_field :amount, class: "text_field", step: "any", :value => (number_with_precision(f.object.amount, :precision => 2) || 0) %><br />

      <span id="expense_category_error" class="text-danger"></span><br />
      <%= f.label :category %>
      <%= f.select :category, options_for_select(Expense::CATEGORY.map { |k,v| [v,k] }, @item.category), :include_blank => true %><br />

      <span id="expense_created_at_error" class="text-danger"></span><br />
      <%= f.label :created_at, "Date" %>
      <input type = "datetime-local" name = "expense[created_at]" class = "datetime" value = "<%= @item.created_at.strftime("%Y-%m-%dT%H:%M") %>" id = "edit_datetime"></input><br />

      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control" %><br />

      <div class="modal-footer">
        <%= f.submit "Save changes", class: "btn btn-primary"%>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    <% end %>
  </div>
</div>

<script>
  $("document").ready(function(){
    $("form").submit(function(event) {
      $('.text-danger').text("");
    });
  });
</script>
