<div class="row">
  <div class="span6 offset3">
    <%= form_for(@item, remote: true, controller: "Expenses", action: "create", html: { method: "post", class: 'form-horizontal remote-form', role: 'form' } ) do |f| %>
    
    <span id="expense_category_error" class="text-danger"></span><br />
      <%= f.label :category %>
      <%= f.select :category, options_for_select(Expense::CATEGORY.map { |k,v| [v,k] }), :include_blank => true %><br />

    <%= render :partial => "expenses/common_form", :locals=>{:f => f } %>

      <div class="modal-footer">
        <%= f.submit "Add", class: "btn btn-primary"%>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    <% end %>
  </div>
</div>

<script>
  $("document").ready(function(){
    $("form").submit(function(event) {
      $('.text-danger').text("");
    });
  });
</script>
